/* OUTFIT FONT */
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;500;600&display=swap');
 
/* ==== COLOR VARIABLES ===== */
:root{
    --first-color: #7d476c;
    --bg-color: #DDDDDD;
    --white-color: #FFFFFF;
}
/* ==== BASE ===== */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Outfit', sans-serif;
}



.text-center{
    position: relative;
    align-items: center;
    top: 35px;
    right: -10px;
    transform: scale(0.9);
}

.toplayer {
    z-index: 1000;
    position: relative;
    left: 50px;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-image: url(loginwall.jpg);
    z-index: 1;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}

.form-container{
    position: absolute;
    /* right:-100px; */
    width: 500px;
    height: 600px;
    background: var(--white-color);
    border-radius: 30px;
    overflow: hidden;
}

.fluid-container{
    position: relative;
    top: 0;
    left: 0;
}

.fluid-container .fluid-1 {
    /* align-items: center; */
    /* justify-content: center; */
    position: absolute;
    top: -20px;
    left: 90px;
    width: 330px;
    transform: scale(0.5);
    z-index: 1;
    animation: bounce 1s linear;

}


/* ===== Login Form Container ===== */

.login-container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width:100%;
    /* right: 200px; */
    height: 600px;
    padding: 30px;
}

.form-icon {
    display: flex;
    justify-content: space-between; 
}

.form-icon i{
    font-size: 26px;
    cursor: pointer;

}
.form-icon .icon-1{
    color: var(--white-color);
}
.form-icon .icon-2{
    color: var(--first-color);
}

.form-title{
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 60px;
    color: #7d476c;
}
/* ===== Register Form Container ===== */


/* ==== Fluid Animation ===== */
