::-webkit-scrollbar {
    width: 1vw;
}
::-webkit-scrollbar-track {
    background: hsl(120, 3%, 89%);
    border-radius: 100vw;
    /* margin-block: .5em; */

}
::-webkit-scrollbar-thumb {
    background: hsl(0, 0%, 70%);
    border: .20em solid hsl(120, 3%, 89%);
    border-radius: 100vw;
}

::-webkit-scrollbar-thumb:hover {
    background: hsl(0, 0%, 50%);
}

body {
    overflow-x: hidden;
    /* background-color: aqua; */
}

.topheader {
    color: azure;
    font-family: 'Nunito Sans', sans-serif;
    font-size: 30px;
    font-weight: bold;
    position: fixed;
    top: 0px;
    left: 0px;
    border-radius: 0;
    width: 100%;
    background-color: #007920;

    /* color: var(--clr-dark); */
    z-index: 1;
    padding: 25px 25px;
}

.img_header {
    position: fixed;
    right: 50px;
    top: 7px;
    width: 90px;
    height: 70px;
    z-index: 2;
}

.img_header:hover {
   animation: bounce 1s linear;
}

@keyframes bounce{
    20%, 50%, 80%, to{
        transform: translateY(0);
    }
    40%{
        transform: translateY(-30px);
    }
    70%{
        transform: translateY(-15px);
    }
    90%{
        transform: translateY(4px);
    }
}


#blt_section{
    /* border: 3px solid black; */
    width: 90%;
    height: 500px;
    position: absolute;
    margin: auto;
    right: 40px;
    left: 40px;
    top: 150px;

}

.hb_header{
    position: relative;
    text-align: center;
    font-family: 'Nunito', sans-serif;
    top: 20px;
    font-size: 25px;
}

.btn {
    width: 18px;
    height: 18px;
    position: relative;
    top: 150px;
    left: 30px;
}

.name {
    position: relative;
    left: 450px;
    top: 30px;
    font-family: 'Nunito', sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 18px;
}

.img_participant {
    width: 200px;
    height: 200px;
    position: relative;
    left:100px;
    bottom: 10px;
    transition: all 1s;

}

.img_participant:hover {
    transform: scale(1.1);
}

.btn_submit {
    width: 80px;
    height: 50px;
    border-radius: 10px;
    background-color: #0d6efd;
    border-color: #0d6efd;
    color: antiquewhite;
    position: relative;
    margin: 50px 0px 200px 650px;
    margin-bottom: 150px;
    margin-left:650px;
}

hr {
    width: 100%;
}


/* Media Queries for Responsive Styling */

/* Small screens */
@media screen and (max-width: 767px) {
    body {
        width: 100%;
    }


    .topheader {
        font-size: 20px;
        padding: 18px;
    }

    .img_header {
        width:70px;
        height:55px;
    }

    #blt_section {
        width: 100%;
    }

    .hb_header {
        font-size: 16px;
    }

    .name {
        font-size: 15px;
    }

    .img_participant {
        width:150px;
        height: 150px;
    }

    hr {
        width: 80%;
    }

    .btn_submit {
        display: flex;
        align-items: flex-end;
        width: 60px;
        height: 30px;
        font-size: 12px;
    }
    
}

/* Media Query for Desktop Viewport */
@media screen and (max-width: 1200px) {
    body {
        min-width: 800px; /* Set your desired minimum width for the viewport */
    }


}

.material-symbols-outlined {
    font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 48
}

.alert_container {
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1000;
    width: 100%;
    display: flex;
    justify-content: center;
    transition: opacity 0.5s ease-out;
    opacity: 1;
}


.alert {
    --foreground-color: #222222;
    --background-color: #eeeeee;
    display: flex;
    align-items: center;
    padding: 1em;
    box-sizing: border-box;
    border-radius: 5px;
    max-width: 1400px;
    background-color: var(--background-color);
    animation: fade 2s ease-in-out;
    font-size: 1.15em;
    font-weight: 500;
    font-family: 'Lexend', sans-serif;
    color: var(--foreground-color);
}

.alert-icon {
    display: flex;
    align-items: center;
    margin-right: 1em;
}

.alert-text {
     font-size: 1.15em;
     font-weight: 500;
     font-family: 'Lexend', sans-serif;
}

.alert-icon .material-symbols-outlined,
.alert-text {
    color: var(--foreground-color);

}

.alert-warning {
    --foreground-color: #000000;
    --background-color: #ecd103;
}
.alert-success {
    --foreground-color: #ffffff;
    --background-color: #46b63e;
}
.alert-error {
    --foreground-color: #ffffff;
    --background-color: #cb0000;
}

@keyframes fade {
    0% { opacity: 0; }
    10% { opacity: 1; }
    90% { opacity: 1; }
    100% { opacity: 0; }
}



.alert_container.hide {
    opacity: 0;
    pointer-events: none;
}

.alert_container.fade-out {
    opacity: 0;
}


